@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan';
}

:root{
    font-size: 62.5%
}

.center-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg-pattern-top-mobile.svg'), url('../images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: top, bottom;
}

.content{
    max-width: 340px;
    margin: 4rem 0;
}

.title-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.title-description h1{
    width: 250px;
    line-height: 1;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;
    color: hsl(300, 43%, 22%);
}

.title-description p{
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: hsl(303, 10%, 53%);
}

.rated{
    margin-bottom: 4rem;
}

.rating{
    height: 80px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding: 1.5rem;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    background: hsl(300, 24%, 96%);
}

.r2{
    margin: 1.5rem 0;
}

.testmony{
    height: 200px;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: hsl(300, 43%, 22%);
}

.t2{
    margin: 1.5rem 0;
}

.testmony header{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.testmony img{
    width: 35px;
    border-radius: 50%;
    margin-right: 2rem;
}

.name-status{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.name-status span:first-child{
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0.2rem;
}

.name-status span:last-child{
    font-weight: 400;
    color: hsl(333, 80%, 67%);
}

.testmony p{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8;
    color: hsl(300, 24%, 96%);
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }


  @media screen and (min-width: 700px){

    .title-description h1{
        width: 350px;
        font-size: 4rem;
    }

    .title-description p{
        font-size: 2rem;
    }

    .center-container{
        background-position: top left, bottom right;
        background-size: 60%, 60%;
    }

    .content{
        max-width: 640px;
    }

    .rated{
        display: flex;
        flex-direction: column;
    }

    .rating{
        width: 500px;
        height: 60px;
        padding: 1.5rem 3rem;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .rating .stars{
        margin-right: 3rem;
    }

    .r2{
        align-self: center;
    }

    .r3{
        align-self: flex-end;
    }

    .testmonies{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testmony{
        width: 400px;
    }

  }

@media screen and (min-width: 1280px){
    .center-container{
        background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
        background-position: top left, bottom right;
        background-size: 40%, 80%;
    }

    .content{
        max-width: 1000px;
    }
    
    .rate-info{
        width: 1000px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    .title-description{
        width: 400px;
        display: initial;
    }

    .title-description h1{
        text-align: left;
    }

    .title-description p{
        font-size: 1.5rem;
        text-align: left;
    }

    .rated{
        width: 500px;
    }

    .rating{
        width: 420px;
        height: 50px;
        padding: 1rem 3rem;
    }

    .testmonies{
        height: 270px;
        flex-direction: row;
        justify-content: space-between;
        align-items: initial;
    }

    .testmony{
        width: 320px;
        height: 220px;
        padding: 3rem;
    }

    .testmony p{
        font-size: 1.2rem;
    }

    .t2{
        align-self: center;
    }

    .t3{
        align-self: flex-end;
    }
}